@model Dojo.Models.SamuraiViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Modification d'un samurai</h2>

@Html.Partial("_SetSamurai")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
