@model Entities.ArtMartial

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer</h2>

<h3>Etes-vous sûr de vouloir supprimer cet art martial ?</h3>
<div>
    <h4>Art Martial</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
