@model Entities.ArtMartial

@{
    ViewBag.Title = "Details";
}

<h2>Détails</h2>

<div>
    <h4>Art Martial</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
